#main-logo {
  font-size: 3.5em;
  font-family: 'Dawning of a New Day', cursive;
}

.navbar-item {
  color: white !important;
  height: 73px;
  line-height: 40px;
}

.navbar-default, li.open a {
  background-color: #9e1078;
}

.active > a,
li.open > a,
#save-recipes-btn:hover,
#fetch-recipes-btn:hover {
  background-color: #613e54 !important;
}

#save-recipes-btn,
#fetch-recipes-btn {
  height: initial;
  margin: -5px 0;
}
