<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath || 'assets/stock-image.jpg'"
      alt="{{ recipe.name }}"
      class="img-responsive"
      id="recipe-img"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group open"
      appDropdown>
      <button
        type="button"
        id="manage-recipe-btn"
        class="btn btn-primary dropdown-toggle">
          {{constants.manageRecipeLabel}}
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="pointer-cursor"
            [class.disabled]="isDisabled(recipe)"
            id="add-to-shopping-list-anchor"
            title="{{ isDisabled(recipe) ? constants.toShoppingListDisabledLabel : '' }}"
            (click)="onAddToShoppingList(recipe)">
              {{constants.toShoppingListLabel}}
          </a>
        </li>
        <li>
          <a class="pointer-cursor" (click)="onEditRecipe()" id="edit-recipe-anchor">
            {{constants.editRecipeLabel}}
          </a>
        </li>
        <li>
          <a class="pointer-cursor" (click)="onDeleteRecipe()" id="delete-recipe-anchor">
            {{constants.deleteRecipeLabel}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 vertical-label-spacing" id="recipe-description">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 scrollbar text-capitalize">
    <ul class="list-group" id="recipe-ingredient-list">
      <li
        class="list-group-item no-overflow"
        id="recipe-ingredient-list-item"
        title="{{ingredient.name}} - {{ingredient.amount}}"
        *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
