.glyphicon {
  left: 4px;
  top: -8px;
}

#empty-recipes-suggestion-label {
  left: 20px;
  position: relative;
  width: 90%;
  display: inline-block;
  font-size: .95em;
}

#recipe-list-container {
  height: 65vh;
}