<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success btn-dimensions"
      (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="recipes.length === 0">Looking a bit empty here - try adding some via "New Recipe" or load some using "Manage" in the navbar menu</div>
    <app-recipe-item    
      *ngFor="let recipeEl of recipes; let i = index;"
      [recipe]="recipeEl"
      [index]="i">
    </app-recipe-item>
  </div>
</div>