<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of oddNumbers"
            [ngStyle]="{ color: number % 2 === 0 ? 'blue' : 'yellow' }">
            {{ number }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of evenNumbers"
            [ngStyle]="{ color: number % 2 === 0 ? 'blue' : 'yellow' }">
            {{ number }}
          </li>
        </div> -->

        <!-- an example of our own structural directive
        see unless.directive.ts -->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of evenNumbers"
            [ngStyle]="{ color: number % 2 === 0 ? 'blue' : 'yellow' }">
            {{ number }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p appBasicHighlight>Only odd basic</p>
        <!-- both of these ways of passing props are valid -->
        <!-- this is passing in values as an input -->
        <!-- <p [defaultColor]="'yellow'" [highlightColor]="'red'">Only odd better</p> -->

        <!-- this way id property binding, and if we bind to a named input
          i.e. - 'appBetterHighlight', then for other props like 'defaultColor',
          we omit the square brackets and inner single quote  -->
        <p [appBetterHighlight]="'red'" defaultColor="yellow">Only odd better</p>

        <!-- the difference between the 2 above examples is that
             the 1st p is having props passed in as inputs,
             while the 2nd is using property binding, so if the prop changes later,
             then the 2nd p's directive's value will change -->
      </ng-template>

      <!-- <div [ngSwitch]="value"> -->
      <!-- to use custom range of values, use true like wth normal JS switch -->
      <div [ngSwitch]="true">
        <div *ngSwitchCase="value > 25">1. value is {{ value }} (gt 25)</div>
        <div *ngSwitchCase="value > 25 && value < 70">2. value is {{ value }} (gt 25 && lt 70)</div>
        <div *ngSwitchCase="value % 2 === 0">3. value is {{ value }} (modulus 2 === 0)</div>
        
        <!-- these match up with ngSwitch declaration like:
            <div [ngSwitch]="value"> -->
        <!-- <div *ngSwitchCase="5">value is {{ value }}</div>
        <div *ngSwitchCase="10">value is {{ value }}</div> -->
        <div *ngSwitchDefault>value is {{ value }}</div>
      </div>
    </div>
  </div>
</div>
