#recipe-img {
  max-height: 300px;
}

a.disabled {
  cursor: not-allowed;
}

#recipe-ingredient-list {
  height: 18vh;
}

#manage-recipe-btn {
  background-color: #9e1078;
}

#recipe-ingredient-list-item {
  background-color: #e8967b;
}

#recipe-ingredient-list-item:not(:first-of-type) {
  margin-top: 10px;
}