#notification-wrapper {
  /* visibility: hidden; */
  position: absolute;
  width: 34.3%;
  left: 5%;
  top: 90%;
  margin: 10px 0 0 15px;
  text-align: center;
  padding: 5px;
  font-size: .95em;
}

#notification-icon-wrapper {
  float: left;
  width: 7%;
  margin-top: 2px;
}

#notification-icon {
  left: 3%;
  position: relative;
}

#notificaion-text-wrapper {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

#notification-text {
  left: 2%;
  position: relative;
  top: 1px;
}
