<input type="text" [(ngModel)]="name">
<p>{{name}}</p>

<app-servers>  </app-servers>

<!-- see note in servers.component.ts for info on how this next line works -->
<!-- we've stated in the servers component file that we will use this CSS-like
 attribute selector in order to call the component.
[] is a css attr selector, hence why the component is called here by using app-servers as an attr

the same applies further below, when calling component due to an element having a certain class
-->
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->