<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath || 'assets/stock-image.jpg'"
      alt="{{ recipe.name }}"
      class="img-responsive"
      id="recipe-img"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group open"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
          {{constants.manageRecipeLabel}}
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="pointer-cursor"
            [class.disabled]="isDisabled(recipe)"
            title="{{ isDisabled(recipe) ? constants.toShoppingListDisabledLabel : '' }}"
            (click)="onAddToShoppingList(recipe)">
              {{constants.toShoppingListLabel}}
          </a>
        </li>
        <li><a class="pointer-cursor" (click)="onEditRecipe()"> {{constants.editRecipeLabel}} </a></li>
        <li><a class="pointer-cursor" (click)="onDeleteRecipe()"> {{constants.deleteRecipeLabel}} </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 scrollbar text-capitalize">
    <ul class="list-group" id="recipe-ingredient-list">
      <li class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>