<a
  [@recipe-list]
  class="list-group-item clearfix pointer-cursor"
  id="recipe-list-item"
  [routerLink]="[index]"
  routerLinkActive="active">
  <div class="pull-left no-overflow" id="recipe-item-text-wrapper">
    <h4
      class="list-group-item-heading text-capitalize"
      id="recipe-name"
      title="{{recipe.name}}">
        {{ recipe.name }}
    </h4>
    <p
      class="list-group-item-text"
      id="recipe-description"
      title="{{recipe.description}}">
        {{ recipe.description }}
    </p>
  </div>
  <span class="pull-right">
    <img
      [src]="recipe.imagePath || 'assets/stock-image.jpg'"
      alt="{{recipe.name}}"
      class="img-responsive"
      id="recipe-item-img">
  </span>
</a>